dhcp-range={{ beaker_lab.dhcp_start }},{{ beaker_lab.dhcp_end }},{{ beaker_lab.dhcp_netmask }}
dhcp-ignore=tag:!known
dhcp-option=option:router,{{ beaker_lab.jumpbox_ip }}

# Use this server as a time and name server for machines in the lab
dhcp-option=option:dns-server,0.0.0.0
dhcp-option=option:ntp-server,0.0.0.0

enable-tftp
tftp-root=/var/lib/tftpboot
dhcp-boot=pxelinux.0

# Use a combination of /etc/ethers & /etc/hosts instead of this ?
{% for system in beaker_lab.system_inventory %}
dhcp-host={{ beaker_lab.system_inventory[system].mac }},{{ system }},{{ beaker_lab.system_inventory[system].ip_address }}
{% endfor %}

# vim: set ft=dnsmasq:
