default * {
        # master server
        master localhost;
        # timestamps
        timestamp 1hab;
        # enable writing
        rw *;
        # enable logging
        logfile /var/consoles/&;
}

{% for system_key, system in systems.items() %}
{% if 'sol_command' in system %}
console {{ system['fqdn'] }}{
        type exec;
        exec "{{ system['sol_command'] }}";
}
{% endif %}
{% endfor %}
