<job retention_tag="Scratch">
    <whiteboard>This job was scheduled from the dci-rhel-agent using XML template.</whiteboard>
    <recipeSet priority="Normal">
        <recipe ks_meta="selinux=--permissive autopart_type=plain harness='restraint'" whiteboard="">
            <distroRequires>
                <and>
                    <distro_name op="=" value="{{ distro_name }}"/>
                </and>
            </distroRequires>
            {% if fqdn is defined %}
                    <hostRequires force="{{ fqdn }}" />
            {% else %}
            <hostRequires/>
            {% endif %}
            {% if topic == 'RHEL-7' %}
            <repos>
              <repo name="extraos-local" url="http://{{ local_repo_ip }}{{ topic }}/extraos"/>
            </repos>
            {% endif %}
            {% if topic == 'RHEL-7.6' %}
            <repos>
              <repo name="extraos-local" url="http://{{ local_repo_ip }}{{ topic }}/extraos"/>
            </repos>
            {% endif %}
            {% if topic == 'RHEL-7.7' %}
            <repos>
              <repo name="extraos-local" url="http://{{ local_repo_ip }}{{ topic }}/extraos"/>
            </repos>
            {% endif %}
            <partitions/>
            <task name="/distribution/install" role="STANDALONE">
                <params>
                </params>
            </task>
            <task name="/distribution/reservesys"/>
        </recipe>
    </recipeSet>
</job>