Host {{ hostvars.beaker_server.ansible_host }}
  User {{ hostvars.beaker_server['ansible_user'] | default('cloud-user') }}
  IdentityFile /etc/dci-rhel-agent/secrets/id_rsa
  UserKnownHostsFile=/dev/null
  StrictHostKeyChecking=no

Host {{ system.value.fqdn }}
  User {{ sut_user | default('root') }}
  IdentityFile /etc/dci-rhel-agent/secrets/id_rsa
  Hostname {{ system.value.fqdn }}
  ProxyJump {{ hostvars.beaker_server.ansible_host }}
  ServerAliveInterval 60
  UserKnownHostsFile=/dev/null
  StrictHostKeyChecking=no
