[Unit]
Description=DCI Ansible Agent for RHEL

[Service]
Type=oneshot
WorkingDirectory=/etc/dci-rhel-agent
ExecStart=/bin/make run
#ExecStop=/opt/foo/teardown-foo.sh
SuccessExitStatus=0
User=root

[Install]
WantedBy=default.target