[Unit]
Description=DCI Ansible Agent for RHEL

[Service]
Type=simple
WorkingDirectory=/etc/dci-rhel-agent
ExecStart=dci-rhel-agent-ctl --start
TimeoutStopSec=120
SuccessExitStatus=0
User=root

[Install]
WantedBy=default.target