[Unit]
Description=DCI Ansible Agent for RHEL

[Service]
Type=simple
WorkingDirectory=/etc/dci-rhel-agent
ExecStart=/bin/make run
ExecStop=/bin/make stop
SuccessExitStatus=0
User=root

[Install]
WantedBy=default.target