[Unit]
Description=Update the DCI packages

[Service]
Type=oneshot
ExecStart=/usr/bin/yum update -y dci-ansible python-dciclient dci-rhel-agent
SuccessExitStatus=0

[Install]
WantedBy=default.target
