[defaults]
retry_files_enabled = False
host_key_checking   = False
library             = /usr/share/dci/modules/
callback_whitelist  = dci
callback_plugins    = /usr/share/dci/callback/
module_utils        = /usr/share/dci/module_utils/
roles_path          = /usr/share/dci/roles/:/etc/dci-rhel-agent/hooks/roles
log_path            = /var/log/ansible.log

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
retries = 3
pipelining = True
