#!/usr/bin/env bash
DCI_CLIENT_ID='remoteci/{{ dci_client_id }}'
DCI_API_SECRET='{{ dci_api_secret }}'
DCI_CS_URL='https://api.distributed-ci.io/'
export DCI_CLIENT_ID
export DCI_API_SECRET
export DCI_CS_URL