local_repo_ip: {{ machine_network_ip }}
local_repo: /opt/beaker/dci
topics:
  - topic: {{ dci_topic }}
    dci_rhel_agent_cki: false
    dci_rhel_agent_cert: false
    with_debug: false
    systems:
{% for system in kvm_nodes %}
      - {{ system.name }}.local
{% endfor %}
beaker_lab:
  dns_server: {{ machine_network_ip }}
  external_dns: false
  dhcp_start: {{ machine_network_cidr | nthhost(20) }}
  dhcp_end: {{ machine_network_cidr | nthhost(100) }}
  dhcp_netmask: {{ machine_network_cidr | ipaddr('netmask') }}
  router: {{ machine_network_ip }}
  jumpbox_fqdn: {{ ansible_fqdn }}
  system_inventory:
{% for system in kvm_nodes %}
    {{ system.name }}.local:
      ip_address: {{ machine_network_cidr | nthhost(50 + loop.index) }}
      mac: {{ system.mac }}
      arch: x86_64
      efi: {{ (system.mode == 'efi') | ternary('True', 'False') }}
      power_address: {{ machine_network_ip }}
      power_user: admin
      power_password: password
      power_type: ipmitool_lanplus
      power_id: {{ 6229 + loop.index }}
{% endfor %}
