# This is the directory that will be mounted into the containers
# {{ data_dir }}/myql    This is where the mysql database will be stored
# {{ data_dir }}/config  This is where the config for beaker wull be stored
# {{ data_dir }}/beaker  This is where the harness, RHEL distros and task rpms will be stored
#
#data_dir: /opt

# If the dns server used by this host doesn't know about your Systems Under Test (SUT'S) then you
# should set this to the correct dns server here.  Beaker will need to be able to look up the
# ip address of those hosts in order to setup the tftpboot files correctly.
#
#dns_servers:
#  - 10.60.0.190
#
#If you don't use a firewall you can disable setting up the firewall rules by settings this to false
#firewall_enabled: false
#
#To test an alternate images
#beaker_server_image: quay.io/distributedci/beaker-server:latest
#beaker_lab_image: quay.io/distributedci/beaker-lab-controller:latest
#beaker_mysql_image: registry.redhat.io/rhel8/mariadb-103
